absl-py
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
attrs
backcall
backoff
bcrypt
beautifulsoup4
bleach
blinker
blis
bokeh
Bottleneck
branca
build
cachetools
catalogue
catboost
category-encoders
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
click-plugins
cligj
cloudpathlib
cloudpickle
cmake
coloredlogs
colorlog
colour
comm
confection
contourpy
cryptography
cycler
cymem
Cython
dacite
dask
dataclasses-json
dataprep
datatile
debugpy
decorator
deepdiff
defusedxml
Deprecated
distro
dnspython
dtreeviz
email_validator
emoji
en-core-web-sm
entrypoints
et-xmlfile
executing
Faker
fastai
fastapi
fastapi-cli
fastcore
fastdownload
fastjsonschema
fastprogress
favicon
feature-engine
filelock
filetype
fiona
Flask
Flask-Cors
flatbuffers
folium
fonttools
fqdn
frozendict
frozenlist
fsspec
future
gast
geographiclib
geopandas
geopy
gitdb
GitPython
google-auth
google-pasta
googleapis-common-protos
graphviz
grpcio
h11
h5py
htbuilder
html5lib
htmlmin
httpcore
httptools
httpx
huepy
huggingface-hub
humanfriendly
hyperopt
idna
ImageHash
imageio
imageio-ffmpeg
importlib-metadata
importlib_resources
iniconfig
instabot
install
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
joypy
jsonpatch
jsonpath-ng
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-widgets
jupyterlab_pygments
keras
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langcodes
langdetect
langsmith
lazy_loader
levenshtein
libclang
lightgbm
llvmlite
locket
lxml
Mako
Markdown
markdown-it-py
markdownlit
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
Metaphone
missingno
mistune
ml-dtypes
mlxtend
mmh3
mock
monotonic
more-itertools
moviepy
mpmath
multidict
multimethod
multitasking
murmurhash
mypy-extensions
namex
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nltk
notebook
notebook_shim
numba
numpy
oauthlib
onnxruntime
openai
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optree
optuna
ordered-set
orjson
overrides
packaging
pandas
pandas-profiling
pandas-summary
pandocfilters
parso
partd
patsy
peewee
pexpect
phik
pickleshare
pillow
platformdirs
plotly
pluggy
ply
pmdarima
posthog
preshed
probableparsing
proglog
prometheus_client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py4j
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydotplus
Pygments
pymdown-extensions
PyMySQL
pyparsing
pypdf
PyPika
pyproj
pyproject_hooks
PySocks
pytest
python-crfsuite
python-dateutil
python-dotenv
python-iso639
python-json-logger
python-magic
python-multipart
python-stdnum
pytz
PyWavelets
PyYAML
pyzmq
rapidfuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
schedule
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
shapely
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
st-annotated-text
stack-data
starlette
statsmodels
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit_option_menu
streamlit-toggle-switch
streamlit-vertical-slider
sympy
tabulate
tangled-up-in-unicode
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
thinc
threadpoolctl
tifffile
tiktoken
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
traceml
traitlets
treeinterpreter
typeguard
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
tzlocal
ujson
unstructured
unstructured-client
uri-template
urllib3
usaddress
uvicorn
uvloop
validators
varname
visions
wasabi
watchfiles
waterfallcharts
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wordcloud
wrapt
xgboost
xyzservices
ydata-profiling
yfinance
zipp
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl